{% extends "templates/home.html" %}

{% block main %}

        <div class="panel-container">

            <div class="content">
    <iframe src="/workshop/python-starter-workshop/lab/common-environment" frameborder="5" scrolling="yes" height="512" align="left" width="45%"></iframe>
            </div>

            <div>
            </div>

            <div class="terminal">
    <iframe src="/hub/spawn" frameborder="5" scrolling="yes" height="512" align="right" width="45%"></iframe>
            </div>

        </div>

{% endblock %}
